//FONTS
@import url("https://fonts.cdnfonts.com/css/lato");
@import url("https://fonts.cdnfonts.com/css/nextwave");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"); // Import Montserrat

// THEME COLORS
$teal-dark: #0d503c;
$teal-light: #20c997;
$strong-pink: #c92052;
$footer: #151414;

$primary: $teal-dark;
$secondary: $teal-light;
$font-family-base: "Montserrat", sans-serif;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.scss";
