/* Your styles go here */
@import "custom";

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)), url("/images/ford_fusion.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5rem 0 0 0; /* Adjust padding for space above the content */
  width: 100%;
  height: fit-content; /* Ensure height is enough to fit both columns */
  display: flex;
  align-items: center;
}

/* Optional adjustments */
.form {
  max-width: 100%; /* Prevent overflow */
}

.text-white h1,
.form {
  margin-bottom: 0;
}

/* card styling */
// Define variables for text sizes
// was 1.5rem and 1rem
$card-title-font-size: 1.5rem;
$card-text-font-size: 1rem;

// Style for the custom card class
.my-card {
  text-align: center;
  height: 100%;
  border: 1px solid $primary;

  .card-title {
    font-size: $card-title-font-size;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .card-text {
    font-size: $card-text-font-size;
    text-align: start;
  }

  i {
    font-size: 2rem;
  }

  // .card-body {
  //   background-color: $secondary;
  // }
}

// style for the advantages list
.advantages-list {
  list-style: none;
  padding-left: 0; /* Removes default padding */
}

.advantages-list li {
  font-size: 16px;
  padding-left: 40px; /* Create space for the icon */
  padding-bottom: 1rem;
  position: relative;
}

.advantages-list li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  margin-right: 1rem;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

.icon-car {
  color: $strong-pink;
}

//testimonials
.testimonial {
  max-width: 600px;
  text-align: center;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $primary; /* control arrows */
  border-radius: 50%;
  padding: 15px;
}
